.navbar{

height:80px;

background:white;

padding:0 30px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:var(--shadow);

}

.navbar p{

color:var(--textLight);

font-size:14px;

}

.nav-right{

display:flex;

align-items:center;

gap:18px;

}

.search{

display:flex;

align-items:center;

gap:10px;

background:#F3F4F6;

padding:10px 15px;

border-radius:12px;

}

.search input{

border:none;

background:none;

outline:none;

width:220px;

}

.icon{

width:42px;

height:42px;

border:none;

background:#F3F4F6;

border-radius:50%;

font-size:18px;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.profile img{

border-radius:50%;

}

.profile h4{

font-size:15px;

}

.profile p{

font-size:12px;

}