.page-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.page-subtitle{

font-size:14px;

color:#2563EB;

font-weight:600;

margin-bottom:8px;

}

.page-header h1{

font-size:34px;

font-weight:700;

color:#111827;

}

.page-description{

margin-top:6px;

color:#6B7280;

font-size:15px;

}